[user]
	name = Maarten Staa
	email = maarten.staa@brightalley.nl
[core]
	excludesfile = /Users/maarten/.gitignore_global
[rerere]
	enabled = true
[pull]
	ff = only
[alias]
	fixup = commit --amend --no-edit
	butd = !git fetch origin && git rebase origin/master
	pf = push --force-with-lease
	ptb = !git push -u $(whoami) $(git branch --show-current)
[init]
	defaultBranch = main
